<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Store-To-Home Application Test Automation Test Suite">

	<listeners>
		<listener class-name="com.store.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>

	<test name="Store-To-Home Application Test Cases">
		<classes>
			
			<class name="com.store.qa.tests.MyAccountPageTest"></class>
			<class name="com.store.qa.tests.AddressTest"></class>
						
			
		</classes>
	</test>
</suite>